.bloc_page
{
    padding-left: 15px;
    padding-right: 15px;
}

header
{
    display: flex;
    justify-content: space-between;
}

header img
{
    height: 70px;
}

nav ul
{
    display: flex;
    list-style-type: none;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

/* Bannière Debut */
.banniere
{
    background-image: url('Images/backgroung_image.jpg');
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.banniere
{
    color: white;
}
.banniere img
{
    height: 70px;
}
/* Bannière Fin*/






/* Princicpale Debut */

.principale 
{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.titre, .services, .presentation, footer
{
    margin-top: 30px;

}



.services
{
    display: flex;
    justify-content: space-around;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    /* border: 2px solid red; */
}

.card img
{
    width: 70px;
    height: 70px;
    /* justify-content: center; */
    text-align: center;
}

.card h2, p
{
    text-align: center;
    /* justify-content: center; */
    align-items: flex-start;

}


/* Princicpale Fin */






footer
{
    display: flex;
    flex-direction: column;
    background-color: #5b359d;
    color: white;
}

footer h2
{
    color: grey;
}

.logos-reseaux
{
    display: flex;
    justify-content: space-evenly;
    
}

.fa-twitter, .fa-facebook-f, .fa-instagram
{
    color: yellow;
}


.info
{
    display: flex;
    justify-content: space-evenly;
}

.info h2
{
    text-align: center;
}

.apropos, .acces, .coordonnees
{
    justify-content: center;
    align-items: center;
}

.apropos ul, .acces ul, .coordonnees ul
{
    list-style-type: none;

}